<!doctype html>
<html>
  <head>
    <title>Company list</title>
    <link href="static/gridjs/mermaid.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="static/main.css" />
  </head>

  <body>
    <div>
      <h1>Company list</h1>
      <br>
      <hr>
      <div id="table"></div>
    </div>
    <script src="static/gridjs/gridjs.umd.js"></script>
    <script>
      new gridjs.Grid({
        columns: [
          { id: 'company_name', name: 'Name' , formatter: (cell) => gridjs.html(`<b>${cell}</b>`)},
          { id: 'url', name: 'URL', sort: false, formatter: (cell) => gridjs.html(`<a href="${cell}" target="_new">${cell}</b></a>`)},
          { id: 'logo', name: 'Logo', sort: false, formatter: (_, row) => gridjs.html(`<a href="${row.cells[1].data}" target="_blank"><img src="data:image/png;base64,${row.cells[2].data}" alt="Logo" width="50"/></a>`) }
        ],
        data: [
          {% for company in company %}
            {
              company_name: '{{ company.company_name }}',
              url: '{{ company.url }}',
              logo: '{{ company.logo }}'
            },
          {% endfor %}
        ],
        search: {
          selector: (cell, rowIndex, cellIndex) => [0, 1, 4].includes(cellIndex) ? cell : null,
        },
        sort: true,
        pagination: true,
        style: {
          table: {
            border: '1px solid #ccc',
          },
          th: {
            background: 'darkblue',
            color: 'white',
            fontWeight: 'bold',
          },
          td: {
            background: '#fff',
          },
        },
      }).render(document.getElementById('table'));
    </script>
  </body>
</html>