<!doctype html>
<html>
  <head>
    <title>Contact list</title>
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="static/main.css" />
    <style>
      body {
        font-family: 'Roboto', sans-serif;
      }
    </style>
</script>
  </head>
  <body>
    <div>
      <h1>Contact list</h1>
      <br>
      <hr>
      <div id="table"></div>
    </div>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script>
      new gridjs.Grid({
        columns: [
        { id: 'id_company', name: 'id_company', hidden: true},
        { id: 'company_name', name: 'Company' , formatter: (cell) => gridjs.html(`<b>${cell}</b>`)},
        { id: 'id_contact', name: 'id_contact', hidden: true},
        { id: 'first_name', name: 'First name' },
        { id: 'last_name', name: 'Last name' },
        { id: 'email', name: 'Email', formatter: (cell) => gridjs.html(`<a href="mailto:${cell}">${cell}</a>`) },
        { id: 'phone', name: 'Phone' },
        { id: 'city', name: 'City' },
        { id: 'country', name: 'Country' },
        { id: 'url', name: 'url', hidden: true },
        { id: 'logo', name: 'Logo', sort: false, formatter: (_, row) => gridjs.html(`<a href="${row.cells[9].data}" target="_blank"><img src="data:image/png;base64,${row.cells[10].data}" alt="Logo" width="50"/></a>`) }
        ],
        data: [
          {% for company_contact in company_contact %}
            {
              id_company: '{{ company_contact.id_company }}',
              company_name: '{{ company_contact.company_name }}',
              id_contact: '{{ company_contact.id_contact }}',
              first_name: '{{ company_contact.first_name }}',
              last_name: '{{ company_contact.last_name }}',
              email: '{{ company_contact.email }}',
              phone: '{{ company_contact.phone }}',
              city: '{{ company_contact.city }}',
              country: '{{ company_contact.country }}',
              url: '{{ company_contact.url }}',
              logo: '{{ company_contact.logo }}'
            },
          {% endfor %}
        ],
        search: {
          selector: (cell, rowIndex, cellIndex) => [ 1, 3, 4, 5, 7, 8 ].includes(cellIndex) ? cell : null,
        },
        sort: true,
        pagination: true,
      }).render(document.getElementById('table'));
    </script>
  </body>
</html>